.restaurants {
  background: red;
  width: 100%;
  height: auto;
}

.restaurants-container {
  margin-top: 70px;
  margin-left: 300px;
}

.item-restaurants {
  display: flex;
  gap: 15px;
}

.restaurant-card {
  width: 250px;
  border: 1px solid black;
  text-align: center;
  border-radius: 10px;
  transition: all 0.8s 0s ease;
}

.restaurant-card:hover {
  transform: scale(1.1);
}

.card-title {
  background: #8d8d8d;
  color: white;
  text-transform: uppercase;
}

.card-body > img {
  min-width: 140px;
  min-height: 140px;
}
