body {
  margin: auto;
}

.col-login {
  display: block;
  float: left;
  margin-left: 175px;
  margin-top: 175px;
  color: rgba(55, 65, 81, 1);
  width: 35%;
  height: 210px;
  border: 1pt solid black;
}

.login-container {
  display: block;
  position: relative;
  width: 500px;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
}

.col-login p {
  float: left;
  width: 210px;
  top: 10px;
  margin-left: 250px;
  font-size: 1.2em;
}

#separator {
  border: 1pt solid gainsboro;
  height: 400px;
  position: absolute;
  left: 50%;
  top: 35%;
}

.col-register {
  display: block;
  float: right;
  margin-top: 175px;
  margin-right: 150px;
  color: rgba(55, 65, 81, 1);
  width: 35%;
  height: 310px;
  border: 1pt solid black;
}

.register-container {
  display: block;
  position: relative;
  width: 550px;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
}

.col-register p {
  float: right;
  width: 200px;
  top: 10px;
  margin-right: 200px;
  font-size: 1.2em;
}

Form {
  display: block;
  position: relative;
  width: 400px;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;

}

.form-group {
  display: block;
  margin-top: 10px;
}

.form-group label {
  margin-left: 40px;
}

.form-control {
  position: absolute;
  right: 40px;
  width: 180px;
}

#email{
  margin-left: 67px;
}

#password{
  margin-left: 10px;
}

.form-group-btn {
  display: block;
  margin-top: 15px;
  text-align: center;
}

