/* Shopping cart */
.cartWrapper{
  -webkit-text-size-adjust: 100%;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
  'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
  'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
  'Noto Color Emoji';
  width: 500px;
  padding: 20px;
}

.cartWrapper h2{
  text-align: center;
  font-size: 2rem;
}

.send-order{
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

/* Shopping cart item */
.cart-item{
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  padding-bottom: 20px;
}

.cart-item img {
  max-width: 80px;
  object-fit: cover;
  margin-left: 10px;
}

.cart-item-infos{
  display: block;
  width: 100px;
  margin-left: 10px;
}

.cart-item-name, .cart-item-price{
  margin-top: 10px;
}

.cart-item-price{
  font-size: small;
}

.handle-qty{
  display: flex;
  width: 85px;
  margin-left: 40px;
  margin-right: 20px;
  justify-content: center;
  align-items: center;
}

.cart-item-qty{
  margin-left: 12px;
  margin-right: 12px;
}

.handle-qty button{
  height: 20px;
}

.cart-line-total{
  display: flex;
  width: 100px;
  margin-left: 10px;
  margin-right: 20px;
  justify-content: flex-end;
  align-items: center;
}

.total-cart{
  display: flex;
  justify-content: flex-end;
  width: 440px;
  margin-top: 20px;
}

.total-cart-label{
  width: 120px;
  margin-top: 0px;
  margin-bottom: 0px;
  vertical-align: top;
}

/* Item */
.itemWrapper{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  border: 1px solid lightblue;
  border-radius: 20px;
  height: 100%;
}

.itemInfos{
  font-family: Arial, Helvetica, sans-serif;
  padding: 1rem;
  height: 100%;
}

.addToCartBtn{
  border-radius: 0 0 20px 20px;
}

.itemImg{
  max-height: 250px;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}
