html {
    -webkit-text-size-adjust: 100%;
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    'Noto Color Emoji';
    line-height: 1.5;
    tab-size: 4;
    scroll-behavior: smooth;
  }
  .header{
    height: 100px;
    background: scroll;
    background:#8d8d8d;
    margin: 0;
}

.logo{
    height: 200px;
    width: 200px;
    background-color: #8d8d8d;
    border-radius: 50%;
    position: absolute;
    left: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img{
    width: 140px;
}

h1,
h2 {
  font-size: inherit;
  font-weight: inherit;
}

h1 {
    font-size: 3rem;
    font-weight: 500;
    letter-spacing: -0.025em;
    line-height: 1;
  }

  .titre{
    display: block;
    position: absolute;
    font-size: 3rem;
    color: rgba(55, 65, 81, 1);
    font-weight: 500;
    left: 53rem;
    transform: translate(-50%, -50%);
    top: 10rem;
  }

.logo_restaurant{
    position: absolute;
    font-size: 3rem;
    color: rgba(55, 65, 81, 1);
    font-weight: 500;
    left: 40rem;
    transform: translate(-50%, -50%);
    top: 11rem;
  }


@media screen and (max-width: 1400px){
    .titre{
        position: absolute;
        font-size: 3rem;
        color: rgba(55, 65, 81, 1);
        font-weight: 500;
        left: 43rem;
        transform: translate(-50%, -50%);
        top: 10rem;
      }

    .logo_restaurant{
        position: absolute;
        font-size: 3rem;
        color: rgba(55, 65, 81, 1);
        font-weight: 500;
        left: 30rem;
        transform: translate(-50%, -50%);
        top: 11rem;
      }
}

